/*

Brightster - CSS File

USE THIS STYLE SHEET FOR HOMEPAGE SLIDER

*/


/* featured */
#featured_container{position:relative; border-bottom:solid 5px #e5e5e5; margin-bottom:20px; padding:15px 0px 15px 0px}
#featured {
	position:relative;
	overflow:hidden;
	height: 290px;
	width:940px;
}

#featured_scroll {
	position:absolute;
	height:20000em;
}
#featured h1{
	margin-top: 0;
	font-size: 30px;
	color:#999999
}
#featured h6{line-height:23px; color:#999999}
.scrollable {
	position:relative;
	overflow:hidden;
	width: 940px;
	height: 290px;
}

.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}
.items{width:940px;  position:relative;}
.item_text {
	float:left;
	width:217px;
	height:260px;
	margin:10px 20px 0px 15px;
}
.item_image{width:693px; float:left; height:290px; padding:0px 0px 0px 0px}

#main_navi {
	position:absolute;
	right:18px;
	bottom:18px;
	padding:0px !important;
	margin:0px !important;
	z-index:10;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#main_navi li {
	height:10px !important;
	width:10px !important;
	list-style-type:none;
	cursor:pointer;
	background-image:url(../images/other/button.gif);
	background-repeat:no-repeat;
	padding:0px;
	text-indent:-9999px;
	line-height:10px;
	margin:10px 0px 0px 0px
}
*+html #main_navi, * html #main_navi{bottom:16px;}
*+html #main_navi li{margin-top:0px;}
* html #main_navi li{margin-top:0px;}
#main_navi li:hover {
	background-color:#dcd9d9;
}

#main_navi li.active {
	background-image:url(../images/other/button_selected.gif);
	background-repeat:no-repeat;
}

#main_navi img {
	float:left;
	margin-right:10px;
}

#main_navi strong {
	display:block;
}
